{% extends 'layouts/auth_base.html' %}

{% block title %} Restablecimiento de Contraseña Enviado {% endblock title %}

{% block content %}
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <a href="#" class="d-flex justify-content-center">
              <img style="height: 50px;" src="{{ url_for('static', filename='assets/images/logo.png') }}" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Correo Enviado</b></h2>
                  <p class="f-16 mt-2">Se ha enviado un correo electrónico a tu dirección de correo. Por favor, haz clic en el enlace y restablece tu contraseña.</p>
                  <h5 class="text-decoration-underline">
                    <a class="ms-2" href="{{ url_for('home_blueprint.password_reset_confirm') }}">Restablecer</a>
                  </h5>
                </div>
              </div>
            </div>
            <hr />
            <h5 class="text-decoration-underline">
              <a class="ms-2" href="{{ url_for('authentication_blueprint.login') }}">Iniciar Sesión</a>
            </h5>
            <h5 class="text-decoration-underline">
              <a class="ms-2" href="{{ url_for('authentication_blueprint.register') }}">Regístrate</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
